# Core functionality - changes here should be rare!
/src/app.py                   @izhax
/src/backend/database.py      @izhax
/src/backend/routers/auth.py  @izhax

# The frontend will need refactored soon to be more object oriented.
/src/static/   @izhax
